<html>
<head>
    <link href="ingresarEstilos.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="Titulo">Programa de control de ventas UABU</div>
    
    <div class="botones">
         
            <button class="boton" ng-click="ingresar()">
            Ingresar
        </button>
        
        <button class="boton" ng-click="Cancelar()">
            Cancelar 
    </div>
<div id="datosIngreso">
 <table>
    <caption>Ingrese al sistema de ventas </caption>
        
    <tr>
        <td colspan="3">
            Usuario
        </td>
        <td>
            <input type="text" id="usuario">
        </td>
        <td colspan="2">
            Clave
        </td>
        <td>
            <input type="text" id="clave">
        </td>

</div>



 </table>   




</body>

</html>