<html>
<head>
    <link href="estilos.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="Titulo">Programa de control de ventas UABU</div>
    <div id="Despliegue">Ingrese o consulte los Datos </div>
    <div class="botones">
        <ul> 
            <button class="boton" ng-click="Productos()">
            Productos
        </button>
        </ul>
        <ul><button class="boton" ng-click="Clientes()">
            Clientes
        </button></ul>
        <ul><button class="boton" ng-click="Vendedores()">
            Vendedores
        </button></ul>
        <ul><button class="boton" ng-click="Pedidos()">
            Pedidos
        </button></ul>
        <ul><button class="boton" ng-click="Usuarios()">
            Usuarios
        </button></ul>
    </div>

    




</body>

</html>