<html>
<head>
    <link href="estiloInterno.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="interno">Ingrese o consulte los Datos </div>
    <div class="botones">
         
        <button class="boton" ng-click="Buscar()">
            Buscar
        </button>
        <button class="boton" ng-click="Editar()">
            Editar
        </button>
        <button class="boton" ng-click="Agregar()">
            Agregar
        </button>
        <button class="boton" ng-click="Guardar()">
            Guardar
        </button>
        <button class="boton" ng-click="Listar()">
            Listar
        </button>
    </div>

    




</body>

</html>