html { 
    background: url("Fondo.jpg") no-repeat; /* Fondo */
    background-size: cover; /* Cubrir el navegador */
} 

#interno{
    /*** Apariencia ***/
    background: rgba(226, 230, 40, 0.1); /* Fondo  transparente * el ultimo valor es lo transparente 0.0 es 100%*/
    background-size: 550px;
    height: 550px; /* Alto */
    /* Caja con sombra transparente exterior negra e interior blanca */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5), inset 0 0 25px rgba(255,255,255, 0.5); 

    /*** Texto ***/
    color: rgba(8, 8, 8, 0.7); /* Color Negro opaco */
    text-align: left; /* izquierda */
    font: 14pt Verdana; /* Tipo de letra */
    line-height: 60px;
   

    /*** Ubicaci�n***/
    position: absolute;  /* Ubicaci�n fija */
    top: 100px;  /* Distancia del borde superior de 10 pixeles */
    right: 5%; /* Distancia del borde derecho del 5% del ancho */
    left: 300px; /* Distancia del borde izquierdo del 5% del ancho */

     /* Borde radial */
     border: none;
     border-top: 3px solid #c2c2c2;
     -webkit-border-radius: 40px;
     -moz-border-radius: 20px;
     border-radius: 20px;
}


.botones{
    margin-top: 40px; /* Distancia del borde superior de 120 pixeles */
	margin-left: 750px; /* Distancia del borde derecho de 30 pixeles */
	text-align: left; /* Centrar objetos contenidos */
    
    margin-bottom: 10px;
    bottom: 5px;
   
}

.boton {
    font-size: 18px; /* Tamaño de la fuente */
    background-color: #434343; /* Color de fondo */
    line-height: 20px;
    text-align: center; /* texto del boton centrado */
    width: 80px; /* tamaño del boton ancho */
    height: 40px; /* tamaño del boton alto*/
    margin-left: 5px;
    margin-top: 5px;
    margin-inline-end: 25px;
    margin-bottom: 5px;
    text-justify: distribute;
    display: inline-block;
    vertical-align: middle;
    

    
    
	/* Relleno de fondo */
    background-image: -webkit-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -moz-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -o-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -ms-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7A7A7A), to(#515151));

    /* Borde radial */
    border: none;
    border-top: 3px solid #c2c2c2;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
	
    /* Sombra del botón*/
    -webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222;
    -moz-box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222;
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222;
    padding: 10px; /* Espacio alrededor de los objetos contenidos */
    text-shadow: 0 1px 0 rgba(255,255,255,0.2); /* Sombra del texto */
    margin-right: 10px; /* Margen derecha */
    text-decoration: none; /* Elimina el formato que tiene el navegador para los hiperv�nculos */
    color: #242424; /* Color texto */
	
	/* Relleno de fondo adicional */
    background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),                        -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),                        -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),                        -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),                                                -webkit-repeating-radial-gradient(    50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),                        -webkit-repeating-radial-gradient(    50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),                        -webkit-repeating-radial-gradient(    50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),                                                -webkit-radial-gradient(    50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}


.boton:active {
    border-top: 0px solid #dde1e7; /* Borde */
    /* Sombra del botón*/
    -webkit-box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222,0px 0px 5px #00aeff,0px 0px 50px #00aeff,0px 0px 50px #93d9fa;
    -moz-box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222,0px 0px 5px #00aeff,0px 0px 50px #00aeff,0px 0px 50px #93d9fa;
    box-shadow: inset 0 1px 2px rgba(255,255,255,0.2), 0 1px 0 #2D2D2D, 0 2px 0 #2D2D2D, 0 3px 0 #2C2C2C, 0 4px 0 #2A2A2A, 0 0 0 6px black, 0 4px 0 6px black, 0 0 0 7px #222, 0 4px 0 7px #222,0px 0px 5px #00aeff,0px 0px 50px #00aeff,0px 0px 50px #93d9fa;
    /* Reubicaci�n del bot�n */
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
}

.boton:hover {
    color: #00aeff; /* Color del texto */
    text-shadow: -1px -2px 1px #000; /* Sombra del texto */
}


td / * Todas las celdas de la tabla /
{
border: 1px solid negro;  
}
table
{
border-collapse: collapse; /* Los bordes de la tabla aparecen juntos */
margin-left: 350px; /*margen a la izquierda*/
position: absolute; 
top: 170px;  /* Distancia del borde superior de 10 pixeles */
margin-block-end: 5px;

}
td
{
border: 1px solid black;
margin-block-end: 5px;
}
tr
{
border: 1px solid black;
margin-block-end: 5px;
margin-inline: 15px;
}

tabla1
{border-collapse: collapse; /* Los bordes de la tabla aparecen juntos */
margin-left: 350px; /*margen a la izquierda*/
position: absolute; 
top: 170px;  /* Distancia del borde superior de 10 pixeles */
margin-block-end: 5px;
}